@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body {
        font-family: serif;
    }

    .countdown {
        display: flex;
        justify-content: space-around;
        text-align: center;
      }
      .day,
      .hour,
      .minute,
      .second {
        font-size: 2rem;
      }
      
      .waiting{
        height: 80vh;
      }
      .coming-soon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
}