@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: serif;
  }

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.day,
.hour,
.minute,
.second {
  font-size: 2rem;
}

.waiting{
  height: 80vh;
}

.coming-soon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-icon {
  background-color: #de4f0a;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-icon.open {
  background-color: #d48350; /* Change color when chat window is open */
}

.chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.light-theme {
  margin: 0;
  padding: 0;
  background-color: black;
  }

.light-theme-heading {
  color: wheat;
  }
  
.light-theme-text {
  color: wheat;
  }

.toggle {
  color: black;
  font-size: 20px;
  border: none;
  background: transparent;
}

.toggle:hover {
  color: #be4f0a;
  font-size: 25px;
}